
.selected {
    background-color: #CFD8DC !important;
    color: black;
}
.t-list {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    /* width: 15em; */
}
.t-list li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.t-list tr.selected:hover {
    background-color: #BBD8DC !important;
    color: black;
}
.t-list tr:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.t-list .text {
    position: relative;
    top: -3px;
}
.t-list .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

:host >>> md-expansion-panel{
  animation: false !important;
  padding-left: 0px  !important;
  box-shadow: 0 0 0 0 transparent !important;
}

:host >>> md-expansion-panel-header{
  height: 20px !important;
  padding-left: 5px  !important;
  font-size: 12px !important;
  font-weight: bold;
  animation: false !important;
  color: #595467;
  background-color: #eeeef7 !important;
  animation: false !important;
}

:host >>> div.mat-expansion-panel-body{
  padding: 0px  !important;
}

/* TEST-ONLY */
:host >>> mat-expansion-panel-header{
  height: 20px !important;
  padding-left: 5px  !important;
  font-size: 12px !important;
  font-weight: bold;
  animation: false !important;
  color: #595467;
  background-color: #eeeef7;
  vertical-align:middle !important;
  display:table-cell !important;
}
:host >>> md-panel-title {
  height: 20px !important;
  padding-left: 5px  !important;
  font-size: 12px !important;
  font-weight: bold;
  color: #595467;
  vertical-align:middle !important;
  display:table-cell !important;
}
:host >>> ng-trigger-expansionHeight {
  height: 20px !important;
  padding-left: 5px  !important;
  font-size: 12px !important;
  font-weight: bold;
}
:host >>> md-panel-description {
  height: 20px !important;
  padding-left: 5px  !important;
  font-size: 12px !important;
  font-weight: bold;
}
:host >>> mat-expansion-panel-header-title {
  height: 20px !important;
  padding-left: 5px  !important;
  font-size: 12px !important;
  font-weight: bold;
}

md-spinner {
  float:left;
  width: 20px;
  height: 20px;
  margin: 5px 10px 0px 0px;
}

.pagination-next {
  cursor: pointer;
}

.pagination-previous {
  cursor: pointer;
}

.custom-pagination {

}

.custom-pagination ul li{
  display: inline;
}

.text-a {
  color: black;
  padding: 5px;
}

.text-a :hover {
  background-color: rgb(214, 213, 213);
  cursor: pointer;
}
.current {
  /* display:block; */
  background-color: #2199e8;
  padding: 5px;
  color: white;
}

:host /deep/ .mat-tab-label {
  /* min-width: 0!important;
  padding: 3px!important;
  margin: 3px!important; */
  background-color: #C0C1D6;
  font-size: 12px !important;
  font-weight: bold;
  color: rgb(53, 53, 53) !important;
  height: 25px !important;
  opacity: 1;
}

:host >>> md-tab-header {
  background-color: #4B6D96;
}
:host >>> .mat-tab-label-active {
  background-color: #FFFFFF;
  color: rgb(53, 53, 53) !important;
  border: 1px;
  border-color: #C0C1D6;
}
:host >>> .selected-tab-0 md-ink-bar {
  background-color: #C0C1D6;
}
:host >>> .selected-tab-1 md-ink-bar {
  background-color: #C0C1D6;
}


br {
  display: block;
  margin: 3px 0;
}

.pointerEnable {
  cursor: pointer !important;
  color: black !important;
   
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;

}

.pointerDisable {
  cursor: default;
  color: rgb(214, 213, 213);
}




