 <!-- <TR style="FONT-SIZE: 13px; FONT-FAMILY: Tahoma; WHITE-SPACE: nowrap; COLOR: #051615; BACKGROUND-COLOR: #b4c3f6" align=center>
    <TH style="WHITE-SPACE: nowrap" scope=col>เลือก</TH>
    <TH style="WHITE-SPACE: nowrap" scope=col>ลำดับที่</TH>
    <TH style="WHITE-SPACE: nowrap" scope=col>ชื่อบัญชี</TH>
    <TH style="WHITE-SPACE: nowrap" scope=col>รหัสบัญชีแยกประเภท</TH>
    <TH style="WHITE-SPACE: nowrap" scope=col>รหัสศูนย์ต้นทุน</TH>
    <TH style="WHITE-SPACE: nowrap" scope=col>รหัสงบประมาณ</TH>
    <TH style="WHITE-SPACE: nowrap" scope=col>รหัสกิจกรรมหลัก</TH>
    <TH style="WHITE-SPACE: nowrap" scope=col>จำนวนเงิน</TH>
</TR>
  --> 
  <TR>
    <TD align=center>
      <INPUT onclick="javascript:__doPostBack('ucKb02_1$gvKb','Select$0')" style="BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px"
        alt=เลือก src="assets/Images/Icon/record_(show)_16x16.gif" type=image>
    </TD>
    <TD style="WHITE-SPACE: nowrap" vAlign=middle align=center>1&nbsp;</TD>
    <TD>สนง เลขานุการกรม</TD>
    <TD style="WHITE-SPACE: nowrap">A120600002</TD>
    <TD id='hello'>test1</TD>
    <TD>12006780017000จจ</TD>
    <TD>test2</TD>
    <TD align=right>-12,000.00</TD>
</TR>  

<!-- <div [hidden]="!selected">
  <ng-content></ng-content>
</div> -->
