<div>
<table border="0" cellspacing="0" id="UcMenuLeft1_gvLeftMenu" rules="all" style="BORDER-BOTTOM: 0px; BORDER-COLLAPSE: collapse; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-FAMILY: tahoma; FONT-SIZE: 12px; WIDTH: 150px;">
<tbody>
<tr align="middle" >
  <th scope="col" class="headerSub">ระบบเบิกจ่าย</th>
</tr>
<tr class="HyperLeftMenu" onmouseout="this.style.backgroundColor = 'Transparent'" onmouseover="this.style.backgroundColor = '#a8b7e2'" style="background-color: transparent; display: block;">
  <td>
    <table border="1" cellpadding="2" cellspacing="0" class="HyperLeftMenu" style="WIDTH: 100%">
      <tbody>
      <tr>
        <td style="HEIGHT: 22px">
          <a class="LeftMenuAbs" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl02$lbtnAbs','')" id="UcMenuLeft1_gvLeftMenu_ctl02_lbtnAbs" style="FONT-SIZE: 11px; FONT-WEIGHT: bold">
            <b>ขบ01 » </b>
          </a><a class="HyperLeftMenu" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl02$kb01','')" id="UcMenuLeft1_gvLeftMenu_ctl02_kb01" style="FONT-SIZE: 11px">ขอเบิกเงินงบประมาณที่ต้องอ้างใบสั่งซื้อฯ</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr class="HyperLeftMenu" onmouseout="this.style.backgroundColor = '#a8b7e2'" style="BACKGROUND-COLOR: #a8b7e2; DISPLAY: block">
  <td>
    <table border="1" cellpadding="2" cellspacing="0" class="HyperLeftMenu" style="WIDTH: 100%">
      <tbody>
      <tr>
        <td style="HEIGHT: 22px" routerLinkActive="active" routerLink="/kb021">
          <a class="LeftMenuAbs" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl03$lbtnAbs','')" id="UcMenuLeft1_gvLeftMenu_ctl03_lbtnAbs" style="FONT-SIZE: 11px; FONT-WEIGHT: bold">
            <b>ขบ02 » </b>
          </a><a class="HyperLeftMenu" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl03$kb02','')" id="UcMenuLeft1_gvLeftMenu_ctl03_kb02" style="FONT-SIZE: 11px">ขอเบิกเงินงบประมาณที่ไม่อ้างใบสั่งซื้อฯ</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr class="HyperLeftMenu" onmouseout="this.style.backgroundColor = 'Transparent'" onmouseover="this.style.backgroundColor = '#a8b7e2'" style="background-color: transparent; display: block;">
  <td>
    <table border="1" cellpadding="2" cellspacing="0" class="HyperLeftMenu" style="WIDTH: 100%">
      <tbody>
      <tr>
        <td style="HEIGHT: 22px">
          <a class="LeftMenuAbs" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl04$lbtnAbs','')" id="UcMenuLeft1_gvLeftMenu_ctl04_lbtnAbs" style="FONT-SIZE: 11px; FONT-WEIGHT: bold">
            <b>ขบ03 » </b>
          </a><a class="HyperLeftMenu" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl04$kb03','')" id="UcMenuLeft1_gvLeftMenu_ctl04_kb03" style="FONT-SIZE: 11px">ขอเบิกเงินนอกงบประมาณที่ไม่อ้างใบสั่งซื้อฯ</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr class="HyperLeftMenu" onmouseout="this.style.backgroundColor = 'Transparent'" onmouseover="this.style.backgroundColor = '#a8b7e2'" style="background-color: transparent; display: block;">
  <td>
    <table border="1" cellpadding="2" cellspacing="0" class="HyperLeftMenu" style="WIDTH: 100%">
      <tbody>
      <tr>
        <td style="HEIGHT: 22px">
          <a class="LeftMenuAbs" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl05$lbtnAbs','')" id="UcMenuLeft1_gvLeftMenu_ctl05_lbtnAbs" style="FONT-SIZE: 11px; FONT-WEIGHT: bold">
            <b>ขบ05 » </b>
          </a><a class="HyperLeftMenu" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl05$kb05','')" id="UcMenuLeft1_gvLeftMenu_ctl05_kb05" style="FONT-SIZE: 11px">ขอถอนคืนรายได้แผ่นดิน</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr class="HyperLeftMenu" onmouseout="this.style.backgroundColor = 'Transparent'" onmouseover="this.style.backgroundColor = '#a8b7e2'" style="background-color: transparent; display: block;">
  <td>
    <table border="1" cellpadding="2" cellspacing="0" class="HyperLeftMenu" style="WIDTH: 100%">
      <tbody>
      <tr>
        <td style="HEIGHT: 22px">
          <a class="LeftMenuAbs" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl06$lbtnAbs','')" id="UcMenuLeft1_gvLeftMenu_ctl06_lbtnAbs" style="FONT-SIZE: 11px; FONT-WEIGHT: bold">
            <b>ขบ06 » </b>
          </a><a class="HyperLeftMenu" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl06$kb06','')" id="UcMenuLeft1_gvLeftMenu_ctl06_kb06" style="FONT-SIZE: 11px">ขอถอนคืนรายได้เงินนอกงบประมาณ</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr class="HyperLeftMenu" onmouseout="this.style.backgroundColor = 'Transparent'" onmouseover="this.style.backgroundColor = '#a8b7e2'" style="background-color: transparent; display: block;">
  <td>
    <table border="1" cellpadding="2" cellspacing="0" class="HyperLeftMenu" style="WIDTH: 100%">
      <tbody>
      <tr>
        <td style="HEIGHT: 22px">
          <a class="LeftMenuAbs" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl07$lbtnAbs','')" id="UcMenuLeft1_gvLeftMenu_ctl07_lbtnAbs" style="FONT-SIZE: 11px; FONT-WEIGHT: bold">
            <b>ขบ08 » </b>
          </a><a class="HyperLeftMenu" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl07$kb15','')" id="UcMenuLeft1_gvLeftMenu_ctl07_kb15" style="FONT-SIZE: 11px">ขอเบิกเงินรายได้จัดสรร</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr class="HyperLeftMenu" onmouseout="this.style.backgroundColor = 'Transparent'" onmouseover="this.style.backgroundColor = '#a8b7e2'" style="DISPLAY: none">
  <td>
    <table border="1" cellpadding="2" cellspacing="0" class="HyperLeftMenu" style="WIDTH: 100%">
      <tbody>
      <tr>
        <td style="HEIGHT: 22px">
          <a class="LeftMenuAbs" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl08$lbtnAbs','')" id="UcMenuLeft1_gvLeftMenu_ctl08_lbtnAbs" style="FONT-SIZE: 11px; FONT-WEIGHT: bold">
            <b>ขบ09 » </b>
          </a><a class="HyperLeftMenu" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl08$kb09','')" id="UcMenuLeft1_gvLeftMenu_ctl08_kb09" style="FONT-SIZE: 11px">ขอถอนคืนรายได้แผ่นดินผ่านระบบ BAHTNET</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr class="HyperLeftMenu" onmouseout="this.style.backgroundColor = 'Transparent'" onmouseover="this.style.backgroundColor = '#a8b7e2'" style="DISPLAY: none">
  <td>
    <table border="1" cellpadding="2" cellspacing="0" class="HyperLeftMenu" style="WIDTH: 100%">
      <tbody>
      <tr>
        <td style="HEIGHT: 22px">
          <a class="LeftMenuAbs" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl09$lbtnAbs','')" id="UcMenuLeft1_gvLeftMenu_ctl09_lbtnAbs" style="FONT-SIZE: 11px; FONT-WEIGHT: bold">
            <b>ขบ10 » </b>
          </a><a class="HyperLeftMenu" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl09$kb10','')" id="UcMenuLeft1_gvLeftMenu_ctl09_kb10" style="FONT-SIZE: 11px">ขอถอนเงินจัดสรรให้ อปท. ผ่านระบบ BAHTNET</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr class="HyperLeftMenu" onmouseout="this.style.backgroundColor = 'Transparent'" onmouseover="this.style.backgroundColor = '#a8b7e2'" style="DISPLAY: none">
  <td>
    <table border="1" cellpadding="2" cellspacing="0" class="HyperLeftMenu" style="WIDTH: 100%">
      <tbody>
      <tr>
        <td style="HEIGHT: 22px">
          <a class="LeftMenuAbs" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl10$lbtnAbs','')" id="UcMenuLeft1_gvLeftMenu_ctl10_lbtnAbs" style="FONT-SIZE: 11px; FONT-WEIGHT: bold">
            <b>ขบ11 » </b>
          </a><a class="HyperLeftMenu" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl10$kb08','')" id="UcMenuLeft1_gvLeftMenu_ctl10_kb08" style="FONT-SIZE: 11px">ขอเบิกเงินงบประมาณที่ต้องอ้างใบสั่งซื้อฯ การส่งมอบไม่แน่นอน</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr class="HyperLeftMenu" onmouseout="this.style.backgroundColor = 'Transparent'" onmouseover="this.style.backgroundColor = '#a8b7e2'" style="DISPLAY: none">
  <td>
    <table border="1" cellpadding="2" cellspacing="0" class="HyperLeftMenu" style="WIDTH: 100%">
      <tbody>
      <tr>
        <td style="HEIGHT: 22px">
          <a class="LeftMenuAbs" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl11$lbtnAbs','')" id="UcMenuLeft1_gvLeftMenu_ctl11_lbtnAbs" style="FONT-SIZE: 11px; FONT-WEIGHT: bold">
            <b>ปก01 » </b>
          </a><a class="HyperLeftMenu" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl11$kb21','')" id="UcMenuLeft1_gvLeftMenu_ctl11_kb21" style="FONT-SIZE: 11px">การลดยอดเจ้าหนี้เพื่อบันทึกเงินประกันผลงาน</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr class="HyperLeftMenu" onmouseout="this.style.backgroundColor = 'Transparent'" onmouseover="this.style.backgroundColor = '#a8b7e2'" style="DISPLAY: none">
  <td>
    <table border="1" cellpadding="2" cellspacing="0" class="HyperLeftMenu" style="WIDTH: 100%">
      <tbody>
      <tr>
        <td style="HEIGHT: 22px">
          <a class="LeftMenuAbs" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl12$lbtnAbs','')" id="UcMenuLeft1_gvLeftMenu_ctl12_lbtnAbs" style="FONT-SIZE: 11px; FONT-WEIGHT: bold">
            <b>ปก02 » </b>
          </a><a class="HyperLeftMenu" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl12$kb22','')" id="UcMenuLeft1_gvLeftMenu_ctl12_kb22" style="FONT-SIZE: 11px">การบันทึกเงินประกันผลงาน (ในงบ, นอกงบ)</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr class="HyperLeftMenu" onmouseout="this.style.backgroundColor = 'Transparent'" onmouseover="this.style.backgroundColor = '#a8b7e2'" style="DISPLAY: none">
  <td>
    <table border="1" cellpadding="2" cellspacing="0" class="HyperLeftMenu" style="WIDTH: 100%">
      <tbody>
      <tr>
        <td style="HEIGHT: 22px">
          <a class="LeftMenuAbs" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl13$lbtnAbs','')" id="UcMenuLeft1_gvLeftMenu_ctl13_lbtnAbs" style="FONT-SIZE: 11px; FONT-WEIGHT: bold">
            <b>ทข01 » </b>
          </a><a class="HyperLeftMenu" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl13$kb13','')" id="UcMenuLeft1_gvLeftMenu_ctl13_kb13" style="FONT-SIZE: 11px">ขอเบิกเงินกู้อ้างอิงใบสั่งซื้อฯ</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr class="HyperLeftMenu" onmouseout="this.style.backgroundColor = 'Transparent'" onmouseover="this.style.backgroundColor = '#a8b7e2'" style="DISPLAY: none">
  <td>
    <table border="1" cellpadding="2" cellspacing="0" class="HyperLeftMenu" style="WIDTH: 100%">
      <tbody>
      <tr>
        <td style="HEIGHT: 22px">
          <a class="LeftMenuAbs" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl14$lbtnAbs','')" id="UcMenuLeft1_gvLeftMenu_ctl14_lbtnAbs" style="FONT-SIZE: 11px; FONT-WEIGHT: bold">
            <b>ทข02 » </b>
          </a><a class="HyperLeftMenu" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl14$kb14','')" id="UcMenuLeft1_gvLeftMenu_ctl14_kb14" style="FONT-SIZE: 11px">ขอเบิกเงินกู้ที่ไม่อ้างอิงใบสั่งซื้อฯ</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr class="HyperLeftMenu" onmouseout="this.style.backgroundColor = 'Transparent'" onmouseover="this.style.backgroundColor = '#a8b7e2'" style="DISPLAY: none">
  <td>
    <table border="1" cellpadding="2" cellspacing="0" class="HyperLeftMenu" style="WIDTH: 100%">
      <tbody>
      <tr>
        <td style="HEIGHT: 22px">
          <a class="LeftMenuAbs" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl15$lbtnAbs','')" id="UcMenuLeft1_gvLeftMenu_ctl15_lbtnAbs" style="FONT-SIZE: 11px; FONT-WEIGHT: bold">
            <b>ทข11 » </b>
          </a><a class="HyperLeftMenu" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl15$kb11','')" id="UcMenuLeft1_gvLeftMenu_ctl15_kb11" style="FONT-SIZE: 11px">ขอเบิกเงินกู้อ้างอิงใบสั่งซื้อฯ การส่งมอบไม่แน่นอน</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr class="HyperLeftMenu" onmouseout="this.style.backgroundColor = 'Transparent'" onmouseover="this.style.backgroundColor = '#a8b7e2'" style="DISPLAY: none">
  <td>
    <table border="1" cellpadding="2" cellspacing="0" class="HyperLeftMenu" style="WIDTH: 100%">
      <tbody>
      <tr>
        <td style="HEIGHT: 22px">
          <a class="LeftMenuAbs" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl16$lbtnAbs','')" id="UcMenuLeft1_gvLeftMenu_ctl16_lbtnAbs" style="FONT-SIZE: 11px; FONT-WEIGHT: bold">
            <b>ขจ05 » </b>
          </a><a class="HyperLeftMenu" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl16$kj05','')" id="UcMenuLeft1_gvLeftMenu_ctl16_kj05" style="FONT-SIZE: 11px">บันทึกรายการจ่ายชำระเงิน</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr class="HyperLeftMenu" onmouseout="this.style.backgroundColor = 'Transparent'" onmouseover="this.style.backgroundColor = '#a8b7e2'" style="DISPLAY: none">
  <td>
    <table border="1" cellpadding="2" cellspacing="0" class="HyperLeftMenu" style="WIDTH: 100%">
      <tbody>
      <tr>
        <td style="HEIGHT: 22px">
          <a class="LeftMenuAbs" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl17$lbtnAbs','')" id="UcMenuLeft1_gvLeftMenu_ctl17_lbtnAbs" style="FONT-SIZE: 11px; FONT-WEIGHT: bold">
            <b>บช01 » </b>
          </a><a class="HyperLeftMenu" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl17$kb30','')" id="UcMenuLeft1_gvLeftMenu_ctl17_kb30" style="FONT-SIZE: 11px">บันทึกรายการบัญชีแยกประเภท</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr class="HyperLeftMenu" onmouseout="this.style.backgroundColor = 'Transparent'" onmouseover="this.style.backgroundColor = '#a8b7e2'" style="DISPLAY: none">
  <td>
    <table border="1" cellpadding="2" cellspacing="0" class="HyperLeftMenu" style="WIDTH: 100%">
      <tbody>
      <tr>
        <td style="HEIGHT: 22px">
          <a class="LeftMenuAbs" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl18$lbtnAbs','')" id="UcMenuLeft1_gvLeftMenu_ctl18_lbtnAbs" style="FONT-SIZE: 11px; FONT-WEIGHT: bold">
            <b>นส02-1 » </b>
          </a><a class="HyperLeftMenu" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl18$kb34','')" id="UcMenuLeft1_gvLeftMenu_ctl18_kb34" style="FONT-SIZE: 11px">นำส่งเงินแบบผ่านรายการ</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr class="HyperLeftMenu" onmouseout="this.style.backgroundColor = 'Transparent'" onmouseover="this.style.backgroundColor = '#a8b7e2'" style="DISPLAY: none">
  <td>
    <table border="1" cellpadding="2" cellspacing="0" class="HyperLeftMenu" style="WIDTH: 100%">
      <tbody>
      <tr>
        <td style="HEIGHT: 22px">
          <a class="LeftMenuAbs" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl19$lbtnAbs','')" id="UcMenuLeft1_gvLeftMenu_ctl19_lbtnAbs" style="FONT-SIZE: 11px; FONT-WEIGHT: bold">
            <b>นส02-2 » </b>
          </a><a class="HyperLeftMenu" href="javascript:__doPostBack('UcMenuLeft1$gvLeftMenu$ctl19$kb35','')" id="UcMenuLeft1_gvLeftMenu_ctl19_kb35" style="FONT-SIZE: 11px">นำส่งเงินแบบพักรายการ</a>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr class="menu-footer">
  <td style="BACKGROUND-IMAGE: url(../../assets/Images/img_leftMenu/back2main_01.jpg); HEIGHT: 26px;" ></td>
</tr>
<tr class="menu-footer-nav">
  <td style="BACKGROUND-IMAGE: url(../../assets/Images/img_leftMenu/back2main_02.jpg); HEIGHT: 17px;" >
  <div >
    <span>เมนูถัดไป</span>
    <span>&nbsp;|&nbsp;</span>
    <span [routerLink]="LINK_HOME">กลับหน้าหลัก</span>
    <span>&nbsp;</span>
  </div>
  </td>
</tr>
<!-- <tr style="BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; DISPLAY: block; HEIGHT: 11px;">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" id="back2main" style="HEIGHT: 43px; WIDTH: 150px;">
      <tbody>
      <tr>
        <td style="BACKGROUND-IMAGE: url(../../assets/Images/img_leftMenu/back2main_01.jpg); HEIGHT: 26px">&nbsp; </td>
      </tr>
      <tr>
        <td align="right" style="BACKGROUND-IMAGE: url(../../assets/Images/img_leftMenu/back2main_02.jpg); HEIGHT: 17px">
          <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
              <td>
                <a class="LeftMenuNavigate" href="#" id="nextMenuTab" onclick="LeftMenuPartition('UcMenuLeft1_gvLeftMenu', 'menuPageIndex', 6, 'nextMenuTab');" style="DISPLAY: block; FONT-FAMILY: Tahoma; FONT-SIZE: 11px">เมนูถัดไป | </a>
              </td>
              <td>
                <a class="LeftMenuNavigate" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("UcMenuLeft1$gvLeftMenu$ctl20$btBack2Main", "", false, "", "default.aspx", false, true))' id="UcMenuLeft1_gvLeftMenu_ctl20_btBack2Main" style="FONT-FAMILY: tahoma; FONT-SIZE: 11px">กลับหน้าหลัก</a>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr> -->
</tbody>
</table>
</div>
