
<div >
<div >
	<md-dialog-content>
	<div class="modal-header modal-header-search">
			<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
			<!-- <h1 md-dialog-title>{{name_t}}</h1> -->
			<a class="sText">{{name_t}}</a>
			<br><br>
			<a class="sText">ค้นหา</a>&nbsp;
			<input name="" value="">&nbsp;
			<button  (click)="searchitem()">เริ่มค้นหา</button>
			<!-- <img  mdTooltip="Help!me" src="../assets/Images/images2.jpg" alt=""> -->
	</div>
	</md-dialog-content>
	<md-dialog-content>
	<div style="padding: 1px;">
			<div>
					<table class="myTable" id="myTable">
					</table>
			</div>
	</div>
	</md-dialog-content>
</div>
<br>
<div>
  <md-progress-bar id="progress-bar" style="display:none;" mode="query"></md-progress-bar>
</div>
<br>

<div><a id='mo'></a></div>
<div><a id='demo'></a></div>
<div md-dialog-actions align='center' class="button-row">
  <!-- <button  md-button (dblclick)="confirmSelection()" color="primary">ตกลง</button> -->
  <button   (click)="dialogRef.close()">ปิด</button>
</div>
</div>

