<table border="0" cellpadding="0" cellspacing="0" class="userLogin" style="BACKGROUND-COLOR: #b0bdbe; WIDTH: 150px">
  <tbody>
  <tr>
    <td align="left" valign="top">
      <table border="0" cellpadding="0" cellspacing="0" width="150">
        <tbody>
        <tr style="HEIGHT: 15px">
          <td style="WIDTH: 12px">&nbsp;</td>
          <td class="userLogin">&nbsp;</td>
          <td class="userLoginLabel" style="WIDTH: 69px">&nbsp; </td>
        </tr>
        <tr>
          <td style="HEIGHT: 19px">&nbsp;</td>
          <td class="userLogin" colspan="2" style="FONT-FAMILY: tahoma; FONT-SIZE: 11px; HEIGHT: 19px;">รหัสผู้ใช้: <span class="userLoginValue" id="ubLoginProfileBCH01_lbUserID">120050001110</span></td>
        </tr>
        <tr>
          <td style="HEIGHT: 19px">&nbsp;</td>
          <td class="userLogin" colspan="2" style="FONT-FAMILY: tahoma; FONT-SIZE: 11px; HEIGHT: 19px;">เข้าสู่ระบบเมื่อ: &nbsp;<span id="ubLoginProfileBCH01_lbLoginTime" style="COLOR: #717171">22:07:14</span></td>
        </tr>
        <tr id="ubLoginProfileBCH01_trLogin">
          <td>&nbsp;</td>
          <td class="userLoginLink" colspan="2">
            <a class="userLoginLink" href="javascript:__doPostBack('ubLoginProfileBCH01$lnkbSignout','')" id="ubLoginProfileBCH01_lnkbSignout" onclick=" return confirm('ยืนยันการออกจากระบบ');">ออกจากระบบ</a> <a class="userLoginLink" href="./" id="ubLoginProfileBCH01_hlnkUserProfile" onclick="OpenWindow('http://10.156.0.83:92/GFNETUserProfileWeb/userprofile.aspx?request=49;50;48;48;53;48;48;48;49;49;49;48;59&amp;Section=Edit', 830, 750);return false;" target="_blank">| ข้อมูลผู้ใช้</a> <a class="userLoginLink" href="./" id="ubLoginProfileBCH01_hlnkEditPassword" onclick="OpenWindow('http://10.156.0.83:92/GFNETUserProfileWeb/editpassword.aspx?request=49;50;48;48;53;48;48;48;49;49;49;48;59&amp;Section=EditPassword', 830, 400);return false;" target="_blank">| แก้ไขรหัสผ่าน</a>
          </td>
        </tr>
        <tr>
          <td align="middle" colspan="3"></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>