<h1 md-dialog-title id="headerShow">จำลองการบันทึก</h1>
<div class="divH">
<div id='success' style="display:block">
  <div align='center' [hidden]="H_TABLE">
    <table width="100%">
        <tr>
          <th width="20%">ผลการบันทึก</th>
          <th width="30%">รหัสข้อความ</th>
          <th>คำอธิบาย</th>
        </tr>
        <tr>
          <td width="20%">{{res}}</td>
          <td width="30%">{{code}}</td>
          <td [innerHTML]="detail"></td>
        </tr>
    </table>
  </div>
  <div [hidden]="H_WAIT">
    <br>
    <md-progress-bar id="progress-bar" mode="query"></md-progress-bar>
  </div>
  <div [hidden]="H_ERROR" class="error">
    <br>
    {{ERR_TEXT}}
  </div>
  <div md-dialog-actions align='center' class="button-row">
    <!-- <button  md-raised-button (click)="confirmSave()" color="primary">บันทึกข้อมูล</button>
    <button  md-raised-button (click)="dialogRef.close()">กลับไปแก้ไขข้อมูล</button> -->
    <button [disabled]="B_SAVE" (click)="confirmSave()" color="primary">บันทึกข้อมูล</button>
    <button [disabled]="B_EDIT" (click)="dialogRef.close()">กลับไปแก้ไขข้อมูล</button>
  </div>
</div>
<div id='showSuccess' style="display:none">
  <div align='center'>
    <tr>
      <th>ผลการบันทึก</th>
      <th>เลขที่เอกสาร</th>
      <th>รหัสหน่วยงาน</th>
      <th>ปีบัญชี</th>
    </tr>
    <tr>
      <td>{{res}}</td>
      <td>{{TBNUMTR}}</td>
      <td>{{SAVEHEAD.TBBUKRS}}</td>
      <td>{{SAVEHEAD.GJAHR}}</td>
    </tr>
  </div>
  <div [hidden]="H_LERROR" class="error">
    <br>
    {{LOG_ERR}}
  </div>
  <!-- <hr> -->
  <div md-dialog-actions align='center' class="button-row">
    <span>
        <button [disabled]="BTSHOW" id="BTSHOW" (click)="showDetail()">แสดงข้อมูล</button>
        <button [disabled]="BTEDIT" id="BTEDIT" (click)="dialogRef.close()">กลับไปแก้ไขข้อมูล</button>
        <button [disabled]="BTNEW" (click)="dialogRef.close()">สร้างเอกสารใหม่</button>
    </span>
    <span >
        <button [disabled]="BTSEARCH" (click)="toSearch()" >ค้นหาเอกสาร</button>
        <button [disabled]="BTLOG" (click)="dialogRef.close()">Log</button><img [hidden]="SAVEDLOG" src="./../../../assets/Images/checked_64.png" align='center' alt="saved to log" height="20" width="20">
      </span>
  </div>
</div>
</div>

