<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  <title>GFMIS Web Online </title>
</head>
<body>
<!-- <table border="0" cellpadding="0" cellspacing="0" id="GFMISTB" style="width: 900px;">
  <tr>
    <td style="background-image: url(assets/Images/header_section_bg.jpg); background-repeat: repeat-x;">
      <table border="0" cellpadding="0" cellspacing="0" id="GF.NET_Header" style="height: 100px; width: 900px;">
        <tr>
          <td>
            <asp:ImageButton CausesValidation="False" Enable="false" Enabled="False" ID="imgBtDefault" ImageUrl="assets/Images/header_section_01.jpg" OnClick="imgBtDefault_Click"></asp:ImageButton>
          </td>
          <td style="width: 761px">
            <img alt="GFMIS Web Online" height="100" src="assets/Images/img_headers/header_theme03.jpg" width="750"/>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" style="width: 900px;">
        <tr>
          <td align="left" bgcolor="8399cb" style="width: 150px;" valign="top">
            <user-login-profile ID="ubLoginProfileBCH01"></user-login-profile>
            <menu-left ID="UcMenuLeft1"></menu-left>
          </td>
          <td align="left" valign="top">
            <kb02></kb02>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="background-color: #000000">
      <table border="0" cellpadding="0" cellspacing="0" style="height: 50px; width: 100%;">
        <tr>
          <td align="left" style="background-color: #112759; width: 150px;" valign="top">&nbsp;</td>
          <td align="right" style="background-color: #000000;" valign="middle">
            <table border="0" cellpadding="0" cellspacing="0" class="footer" width="100%">
              <tr>
                <td align="right" width="99%">
                  <br/>
                  ระบบบริหารการเงินการคลังภาครัฐแบบอิเล็กทรอนิกส์<br/>
                  Government Fiscal Management Information System
                </td>
                <td width="1%">&nbsp;</td>
              </tr>
              <tr>
                <td align="right" colspan="2">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table> -->
<app-home></app-home>
</body>
</html>
