<table border="0" cellpadding="0" cellspacing="0" id="GF.NET_BODY" style="background-color: #edf1fd; width: 750px;">
  <tr>
    <td align="left" style="background-image: url(assets/Images/inner_section_header_bg.jpg); background-repeat: repeat-x;" valign="top">
      <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
              <tr>
                <td>
                  <user-profiles ID="UcUserProfiles1"></user-profiles>
                </td>
                <td style="width: 9px;" valign="top">
                  <menu-top ID="UcMenuTop1"></menu-top>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="background-color: #ebf0b6">
            <form-header ID="UcFormHeader1"></form-header>
          </td>
        </tr>
        <tr>
          <td style="background-color: #ffffff;">
            <table border="1" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td style="border-top-color: #006699; border-top-width: 0px;">
                  <table border="0" cellpadding="7" cellspacing="0" width="900">
                    <tr>
                      <td>
                        <!-- <kb02-1></kb02-1> -->
                        <!-- <kb02-2></kb02-2> -->
                        <!-- <kb02-3></kb02-3> -->
                         <router-outlet></router-outlet>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!--<span TextBox BackColor="White" BorderColor="White" BorderStyle="Solid" ForeColor="White" ID="htbPageAttribute" runat="server" Width="122px">[htbPageAttribute]</span>
            <span TextBox BackColor="White" BorderColor="White" BorderStyle="Solid" ForeColor="White" ID="tbPopupCheck" runat="server" Width="122px">[tbPopupCheck]</span>-->
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
