select{
    text-align-last:center;
}

:not(input):not(textarea),
:not(input):not(textarea):after,
:not(input):not(textarea):before {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
}