<div width="100%">
<fieldset id="fldstBody" style="z-index:1;max-width: 860px;" >
<legend class="feildsetTag">ค้นหา</legend>
<div style="min-height:173px">
  <md-tab-group selectedIndex="0" #tabGroup class="selected-tab-{{tabGroup.selectedIndex}}">
    <!-- TAB 1 -->
    <md-tab label="ค้นหาตามเลขที่เอกสาร" class="disable-select">
      <br>
      <div>
      <table class="defaultTableBodyShot">
        <tr>
          <td>
              <strong class="fontContentBlue">ใบขอเบิกเงินจากระบบ</strong>
          </td>
          <td colspan="3" class="tdCenter">
            <form #f="ngForm">
              <input type="radio" value="web" id="web" name="type" [(ngModel)]="RADIO_TYPE">
              <label align="center" for="web">Web Online</label>
              &nbsp;&nbsp;&nbsp;
              <input type="radio" value="excel"  id="excel" name="type" [(ngModel)]="RADIO_TYPE">
              <label for="excel">Excel Loader</label>
            </form>
          </td>
        </tr>
        <tr>
          <td style="width: 174px">
            <strong class="fontContentRed">เลขที่ใบขอเบิกเงิน</strong>
           </td>
          <td style="width: 176px;">
            <input type="text" [(ngModel)]="BELNR1">
            <!-- <asp:TextBox ID="tbBELNRFrom" runat="server" ForeColor="#333333" MaxLength="10"></asp:TextBox> -->
          </td>
          <td style="width: 42px;">
            &nbsp;<strong>ถึง</strong>
          </td>
          <td style="width: 459px">
              <input type="text" [(ngModel)]="BELNR2">
            <!-- <asp:TextBox ID="tbBELNRTo" runat="server" ForeColor="#333333" MaxLength="10"></asp:TextBox> -->
          </td>
          </tr>
          <tr style="font-weight: bold">
            <td style="width: 174px">
              <strong class="fontContentBlue">ปีงบประมาณ</strong></td>
            <td align="left" style="color: #000000">
              <!-- <asp:DropDownList ID="ddYearFrom" runat="server" TabIndex="7" Width="50px" ForeColor="#333333">
              </asp:DropDownList> -->
              <select [(ngModel)]="YEAR">
                <option *ngFor="let c of yearList" [ngValue]="c.YESR">{{c.YESR}}</option>
              </select>
            </td>
            <td style="width: 42px">
              &nbsp;&nbsp;
            </td>
            <td style="width: 459px">
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="4" style="height: 21px">
              <Label Text="หมายเหตุ:"></Label>
              <Label Text="ใบขอเบิกเงินของระบบ Excel Loader ค้นหาได้ตามเลขที่เอกสารเท่านั้น"></Label>
            </td>
          </tr>
        </table>
      </div>
    </md-tab>
    <!-- TAB 2 -->
    <md-tab label="ค้นหาตามเงื่อนไขอื่น">
      <br>
      <div>
        <table class="defaultTableBodyShot">
          <tr>
            <td style="width: 174px"  >
              <select class="fontContentBlue" [(ngModel)]="SELECTED_DATE" style="font-weight:bold; width: 120px; text-align-last:left;">
                <option *ngFor="let c of dateList" [ngValue]="c.id">{{c.Name}}</option>
              </select>
            </td>
            <td style="width: 130px">
              <md-input-container style="width: 100px">
                <input mdInput [(ngModel)]="F_DATE" [mdDatepicker]="fDatepicker">
                <md-datepicker-toggle mdSuffix [for]="fDatepicker"></md-datepicker-toggle>
              </md-input-container>
              <md-datepicker #fDatepicker></md-datepicker>
            </td>
            <td style="width: 42px;">
              &nbsp;<strong>ถึง</strong>
            </td>
            <td style="width: 130px">
              <md-input-container style="width: 100px">
                <input mdInput [(ngModel)]="T_DATE" [mdDatepicker]="tDatepicker">
                <md-datepicker-toggle mdSuffix [for]="tDatepicker"></md-datepicker-toggle>
              </md-input-container>
              <md-datepicker #tDatepicker></md-datepicker>
            </td>
          </tr>
          <tr>
            <td>
              <strong class="fontContentGreen">การอ้างอิง</strong>
            </td>
            <td style="width: 190px">
              <input type="text" [(ngModel)]="TBXBLNR1">
              <!-- <asp:TextBox ID="TBXBLNR" runat="server" MaxLength="16" ForeColor="#333333"></asp:TextBox> -->
            </td>
            <td style="width: 37px">
              &nbsp;<strong>ถึง</strong>
            </td>
            <td style="width: 190px">
                <input type="text" [(ngModel)]="TBXBLNR2">
              <!-- <asp:TextBox ID="tbXBLNRTo" runat="server" MaxLength="16" ForeColor="#333333"></asp:TextBox> -->
            </td>
          </tr>
          <tr>
            <td>
              <strong class="fontContentGreen">รหัสประจำตัวผู้เสียภาษี (ผู้ขาย)</strong>
            </td>
            <td style="width: 190px">
              <input type="text" [(ngModel)]="TBSTERM">
              <!-- <asp:TextBox ID="tbSearchTerm" runat="server" ForeColor="#333333" MaxLength="13"></asp:TextBox> -->
            </td>
            <td style="width: 37px">
              &nbsp;
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>
                <strong class="fontContentGreen">ประเภทเอกสาร</strong>
            </td>
            <td>
              <select [disabled]="DSTBALL" [(ngModel)]="IDBLART1" class="fontContentBlack" style="width: 100%">
                <option *ngFor="let o of typeDocList" [ngValue]="o.id">{{o.Name}}</option>
              </select>
            </td>
            <td></td>
            <td>
              <select [disabled]="DSTBALL" [(ngModel)]="IDBLART2" class="fontContentBlack" style="width: 100%">
                <option *ngFor="let o of typeDocList" [ngValue]="o.id">{{o.Name}}</option>
              </select>
            </td>
          </tr>
        </table>
      </div>
    </md-tab>
  </md-tab-group>
  </div>
  <div [hidden]="forAdmin">
    <hr>
    <!-- <br> -->
    <table>
      <tr>
        <td style="width: 174px">
          <strong>
            <Label ID="cssBukrs" Class="fontContentBlue">รหัสหน่วยงาน</Label>
          </strong>
        </td>
        <td valign="middle" style="height: 25px;" style="width: 176px;">
          <input type="text" [(ngModel)]="TBBUKRS" MaxLength="4" id="TBBUKRS" Class="fontContentBlack">&nbsp;
          <input type="image" (click)="dialogSearch('TBBUKRS', 'cssBukrs')" Align="AbsMiddle" src="assets/Images/SearchIcon.jpg"/>
        </td>
        <td style="width: 42px;"></td>
        <td style="height: 25px;"  Class="fontContentBlack">
            <Label runat="server">{{LBBUKRS}}</Label>
        </td>
      </tr>
      <tr>
        <td style="width: 174px">
          <strong>
            <Label ID="cssZzpmt" Class="fontContentBlue">รหัสหน่วยเบิกจ่าย</Label>
          </strong>
        </td>
        <td valign="middle" style="height: 25px;" style="width: 176px;">
          <input type="text" [(ngModel)]="TBZZPMT" MaxLength="4" id="TBZZPMT" Class="fontContentBlack">&nbsp;
          <input type="image" (click)="dialogSearch('TBZZPMT', 'cssZzpmt')" Align="AbsMiddle" src="assets/Images/SearchIcon.jpg"/>
        </td>
        <td style="width: 42px;"></td>
        <td style="height: 25px;"  Class="fontContentBlack">
            <Label runat="server">{{LBZZPMT}}</Label>
        </td>
      </tr>
    </table>
  </div>
  <div [hidden]="forAdmin">
    <fieldset class="feildsetTag" style="width: 97%">
      <legend>ส่วนของผู้ดูแลระบบ </legend>
      <table>
        <tr>
          <td style="width: 162px">
            <strong>
              <Label ID="cssZzpmt" Class="fontContentGreen">รหัสผู้ใช้งาน</Label>
            </strong>
          </td>
          <td valign="middle" style="height: 25px;" style="width: 176px;">
            <input type="text" [(ngModel)]="USERID" MaxLength="4" id="USERID" Class="fontContentBlack">&nbsp;
            <!-- <input type="image" (click)="dialogSearch('TBZZPMT', 'cssZzpmt')" Align="AbsMiddle" src="assets/Images/SearchIcon.jpg"/> -->
          </td>
          <td style="width: 42px;"></td>
        </tr>
      </table>
    </fieldset>
  </div>
  <hr>
  <div align="center">
    <button (click)="onSearch(this.tabGroup.selectedIndex)">ค้นหา</button>
  </div>
  <div [hidden]="forResult">
    <app-grid-view [RLINK]="RLINK" [RESLIST]="RESLIST"></app-grid-view>
  </div>
  <div [hidden]="H_WAIT">
    <br>
      <md-progress-bar id="progress-bar" mode="query"></md-progress-bar>
  </div>
  <div [hidden]="notFound" align="center">
    <br>
    <span class="fontErrorRed" >
      {{DATAWRONG}}
    </span>
  </div>
</fieldset>
</div>
