<div>
  <hr>
  <span class="defaultTableBodyShot">
      <Label ID="lbSortTitle" Text="จัดลำดับตาม"></Label>
      <Label ID="lbSortHeader" Text="เลขที่ใบขอเบิกเงิน"
        style="font-weight:bold" ></Label>
      <Label ID="lbSortFrom" runat="server" Text="จาก"></Label>
      <Label ID="lbSortType" style="font-weight:bold">น้อยไปมาก</Label>
  </span>
</div>
<div ng-controller="PageCtrl">
  <table class="defaultTableBody">
    <tr>
      <th>เลือก</th>
      <th>เลขที่ใบขอเบิกเงิน</th>
      <th>ปีงบ ประมาณ</th>
      <th>วันที่เอกสาร</th>
      <th>วันที่ผ่านรายการ</th>
      <th>ประ เภท</th>
      <th>วิธีชำระเงิน</th>
      <th>ผู้ขาย</th>
      <th>วันที่บันทึก</th>
      <th>จำนวนเงิน</th>
      <th>สถานะ</th>
      <th>เลขที่เอกสารกลับรายการ</th>
    </tr>
    <tr *ngFor="let doc of RESLIST; let i='index';" align="center">
          <!-- [class.selected]="doc === selectedList" > -->
      <td align="center">
        <INPUT style="BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px"
          alt=เลือก src="assets/Images/Icon/record_(show)_16x16.gif" type=image (click)="selectedDoc(doc,i)">
      </td>
      <td style="width: 50px">{{doc.BELNR}}</td>
      <td style="width: 5px">{{doc.GJAHR}}</td>
      <td style="width: 100px" align="left">{{doc.BLDAT}}</td>
      <td style="width: 100px" align="left">{{doc.BUDAT}}</td>
      <td style="width: 10px">{{doc.BLART}}</td>
      <td style="width: 5px">{{doc.HOWPAY}}</td>
      <td style="width: 150px" align="left">{{doc.NAME1}}</td>
      <td style="width: 100px" align="left">{{doc.CPUDT}}</td>
      <td style="width: 100px" align="right">{{doc.SUMCOST}}</td>
      <td style="width: 100px">{{doc.STATUS}}</td>
      <td style="width: 50px">{{doc.NUMDOCI}}</td>
    </tr>
  </table>
</div>
<div>
  <table class="defaultTableBodyShot">
    <tr>
      <td><label>หมายเหตุ: </label></td>
      <td>
        <Label Text="1.คลิกที่คอลัมน์ที่มีเส้นใต้เพื่อจัดเรียงลำดับ"></Label>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <Label ID="lbAnotation2" runat="server" Text="2."></Label>
        <asp:Image ID="imAnotation" runat="server" ImageUrl="assets/Images/Icon/record_(show)_16x16.gif" />
        <Label ID="lbAnotation3" runat="server" Text="คลิกเพื่อแสดงเอกสาร"></Label>
      </td>
    </tr>
</table>
</div>
