th {
  BACKGROUND-COLOR: #b4c3f6;
  COLOR: #051615;
  cursor:pointer;
  /* WHITE-SPACE: nowrap; */
}

th:hover{
  background-color:#8399CB;
  text-decoration: underline;
/*	color: #0080ff; */
}

/* Column widths are based on these cells */
.row-DATE {
  min-width: 98px;
}
.row-STATUS {
  min-width: 70px;
  max-width: 70px;
}
