<div>
  <hr>
  <span class="defaultTableBodyShot">
      <Label ID="lbSortTitle" Text="จัดลำดับตาม"></Label>
      <Label ID="lbSortHeader"
        style="font-weight:bold" >{{txsort}}</Label>
      <Label ID="lbSortFrom" runat="server" Text="จาก"></Label>
      <Label ID="lbSortType" style="font-weight:bold">{{sortby}}</Label>
  </span>
</div>
<div ng-controller="PageCtrl">
  <table class="defaultTableBody">
    <tr>
      <th>เลือก</th>
      <th class="sort" (click)="sortByTh('BELNR','เลขที่ใบขอเบิกเงิน')">เลขที่ใบขอเบิกเงิน</th>
      <th class="sort" (click)="sortByTh('GJAHR', 'ปีงบประมาณ')">ปีงบ ประมาณ</th>
      <th class="none" (click)="sortByTh('BLDAT', 'วันที่เอกสาร')" class="row-4 row-DATE">วันที่เอกสาร</th>
      <th class="none" (click)="sortByTh('BUDAT', 'วันที่ผ่านรายการ')" class="row-5 row-DATE">วันที่ผ่านรายการ</th>
      <th class="sort" (click)="sortByTh('BLART', 'ประเภท')" >ประ เภท</th>
      <th class="sort" (click)="sortByTh('HOWPAY', 'วิธีชำระเงิน')">วิธีชำระเงิน</th>
      <th class="sort" (click)="sortByTh('NAME1', 'ผู้ขาย')">ผู้ขาย</th>
      <th class="none" (click)="sortByTh('CPUDT', 'วันที่บันทึก')" class="row-9 row-DATE">วันที่บันทึก</th>
      <th class="none" (click)="sortByTh('SUMCOST', 'จำนวนเงิน')">จำนวนเงิน</th>
      <th class="none" (click)="sortByTh('STATUS', 'สถานะ')" class="row-11 row-STATUS">สถานะ</th>
      <th class="sort" (click)="sortByTh('NUMDOCI', 'เลขที่เอกสารกลับรายการ')">เลขที่เอกสารกลับรายการ</th>
    </tr>
    <tr *ngFor="let doc of RESLIST | paginate: { itemsPerPage: 5, currentPage: page }; let i='index';" align="center">
      <td align="center">
        <INPUT style="BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px"
          alt=เลือก src="assets/Images/Icon/record_(show)_16x16.gif" type=image
           (click)="selectedDoc(doc.BELNR,i)">
      </td>
      <td style="width: 50px">{{doc.BELNR}}</td>
      <td style="width: 5px">{{doc.GJAHR}}</td>
      <td align="left">{{doc.BLDAT}}</td>
      <td style="width: 100px" align="left">{{doc.BUDAT}}</td>
      <td style="width: 10px">{{doc.BLART}}</td>
      <td style="width: 5px">{{doc.HOWPAY}}</td>
      <td style="width: 150px" align="left">{{doc.NAME1}}</td>
      <td style="width: 100px" align="left">{{doc.CPUDT}}</td>
      <td style="width: 100px" align="right">{{doc.SUMCOST}}</td>
      <td>{{doc.STATUS}}</td>
      <td style="width: 50px">{{doc.NUMDOCI}}</td>
    </tr>
  </table>
  <div class="defaultTableBody">
    <pagination-controls
      (pageChange)="page = $event"
      previousLabel="ย้อนกลับ"
      nextLabel="ถัดไป">
    </pagination-controls>
  </div>
</div>
<div>
  <table class="defaultTableBodyShot">
    <tr>
      <td><label>หมายเหตุ: </label></td>
      <td>
        <Label Text="1.คลิกที่คอลัมน์ที่มีเส้นใต้เพื่อจัดเรียงลำดับ"></Label>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <Label ID="lbAnotation2" runat="server" Text="2."></Label>
        <asp:Image ID="imAnotation" runat="server" ImageUrl="assets/Images/Icon/record_(show)_16x16.gif" />
        <Label ID="lbAnotation3" runat="server" Text="คลิกเพื่อแสดงเอกสาร"></Label>
      </td>
    </tr>
</table>
</div>
